<div class="border-1 shadow rounded bg-light p-1">
    <h4 class="text-center text-white bg-success p-2">Страницы</h4>
    <div class="accordion accordion-flush" id="accordionInfo">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <NavLink class="nav-link text-dark" ActiveClass="bg-success text-white" href="technologies">
                    Технологии
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" ActiveClass="bg-success text-white" href="portfolio">
                    Портфолио
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" ActiveClass="bg-success text-white" href="contacts">
                    Контакты
                </NavLink>
            </li>
        </ul>
    </div>
</div>

