@inherits LayoutComponentBase

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
@*    <li class="nav-item">
        <NavLink class="nav-link" href="technologies" @onclick="OnClickCallback">
            Технологии
        </NavLink>
    </li>*@
@*    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInfo" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Разработка
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
            <li>
                <NavLink class="dropdown-item" href="counter" @onclick="OnClickCallback">
                    Тестовая страница со счетчиком
                </NavLink>
            </li>
        </ul>
    </li>*@
</ul>

@*<div class="d-flex">
    <NavLink class="btn btn-dark text-white me-1" href="counter" @onclick="OnClickCallback">
        Вход
    </NavLink>
</div>*@

@code {
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
}
