@page "/contacts"

<PageTitle>Мои контакты</PageTitle>

<div class="row">
    <div class="col-md-3 col-lg-2 mb-1">
        <IndexLeftSidebarPartial/>
    </div>

    <div class="col-md-9 col-lg-10 mb-1">
        <div class="border-1 shadow rounded bg-light p-3">
            <h1 class="my-2">Мои контакты</h1>

            <span>Телеграм: </span><br/>
            <a href="https://t.me/kanadeiar" target="_blank" class="btn btn-primary mb-1">
                @@kanadeiar
            </a><br />
            <span>Гитхаб: </span><br/>
            <a href="https://github.com/kanadeiar" target="_blank" class="btn btn-dark mb-1">
                kanadeiar
            </a><br />
            <span>Электронная почта:</span><br />
            <a href="mailto:kanadeiar@gmail.com" class="btn btn-info mb-1">
                kanadeiar@gmail.com
            </a><br />
            <span>Телефон: </span>
            <div class=phone><a class="btn btn-warning mb-1" href="tel:+79372696679">
                +7 (937) 269-66-79
            </a></div>
        </div>
    </div>
</div>
