@page "/technologies"

<PageTitle>Технологии</PageTitle>

<div class="row">
    <h1>Технологии</h1>

    <p>Пользуюсь этими технологиями:</p>

    <div class="col-lg-12">

        <div class="border-1 rounded shadow bg-light p-2 mb-3 col-md-6">
            <h3>Настольные приложения</h3>
            <hr>
			<p>C#</p>
            <p>WPF</p>
            <p>MVVM</p>
        </div>

        <div class="border-1 rounded shadow bg-light p-2 mb-3 col-md-6">
            <h3>Веб приложения</h3>
            <hr>
            <p>C#</p>
			<p>ASP.NET Core</p>
            <p>MVC</p>
            <p>Blazor</p>
        </div>

        <div class="border-1 rounded shadow bg-light p-2 mb-3 col-md-6">
            <h3>Мобильные приложения</h3>
            <hr>
            <p>C#</p>
			<p>Xamarin.Forms</p>
            <p>MVVM</p>
        </div>
    </div>
</div>

